@{
    @using PersonalSectorManager.ViewModels;

    ViewData["Title"] = "Home Page";

}

@model FormViewModel

<form asp-action="Create" method="post">
    <label>Please enter your name and select the sectors you are currently involved in.</label>
    <br />
    <br />
    <input type="hidden" asp-for="UserViewModel.UserId" value="@Model.UserViewModel.UserId" />
    <label>Name:</label>
    <input type="text" asp-for="UserViewModel.UserName" id="name" required>
    <br />
    <br />
    <label>Sectors:</label>
    <select asp-for="UserViewModel.SelectedSectorIds" id="sectorIndex" multiple size="5" required>
        @foreach (var item in Model.SectorViewModels)
        {
            <option value="@item.Value" style="margin-left: calc(@item.Level * 15px);">@item.Name</option>
        }
    </select>
    <br />
    <br />
    <input type="checkbox" asp-for="UserViewModel.AgreeToTerms" id="agreeToTerms" required>
    <label for="agree-to-terms">Agree to terms</label>
    <br />
    <br />
    <input type="submit" value="Save">
</form>
